/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  color: #3d3d3d;
  overflow-x: hidden;
}
.main-container {
  max-width: 1140px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: black;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li.actif {
  font-weight: 600;
  cursor: unset;
}

li a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin: 89px 0 16px 0;
}

#portfolio .filters {
  display: flex;
  justify-content: center;
}

#portfolio .category-filter {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: white;
  border: solid 1px #1d6154;
  margin: 2em 0.625em;
  height: 37px;
  padding: 0 14px;
  text-align: center;
  border-radius: 60px;
}

#portfolio .selected {
  color: white;
  background-color: #1d6154;
}

.d-none {
  display: none;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Page de login */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1140px) {
    margin-top: 80px;
  }
}

#login .erreur-msg {
  color: white;
  background: #db4040;
  position: fixed;
  top: 560px;
  border-radius: 5px;
  padding: 8px 10px;
}

#login .erreur-msg {
  animation: shake 0.2s;
  animation-iteration-count: 5;
}

@keyframes shake {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 5px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: -5px;
  }
  100% {
    margin-left: 0;
  }
}

#login .erreur-msg img {
  width: 10px;
  margin-right: 10px;
  filter: invert(1);
}

#login form {
  display: flex;
  flex-direction: column;
}

#login label {
  font-weight: 500;
  line-height: normal;
  margin: 2em 0 1em 0;
}

#login input[type="email"],
#login input[type="password"] {
  width: 379px;
  height: 51px;
  flex-shrink: 0;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

#login input[type="submit"] {
  border: solid 1px #1d6154;
  height: 37px;
  cursor: pointer;
}

#login a {
  color: #3d3d3d;
  line-height: normal;
  font-weight: 500;
  text-decoration-line: underline;
}

#login a:hover {
  color: #b1663c;
}

.footer-login {
  position: fixed;
  width: 100%;
  max-width: 1140px;
  bottom: 0;
}

/* HOMEPAGE EDITION */

.gallery-homepage {
  margin-top: 85px;
}

.edition-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 59px;
  gap: 13px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.edition-mode img {
  filter: invert(1);
  max-height: 16px;
}

.toolbar {
  display: flex;
  gap: 31px;
  align-items: baseline;
  justify-content: center;
}

.edition-btn {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  background-color: white;
  color: black;
  border: none;
  margin: unset;
  margin-bottom: 90px;
  padding: unset;
  display: flex;
  text-align: center;
  gap: 13px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.edition-btn img {
  max-height: 16px;
}

.body-opacity {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
  gap: 10px;
  padding: 26px 30px;
  top: 100px;
  width: 570px;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
}

.modal .close-btn {
  background-color: white;
  border: unset;
  margin: 0;
  position: relative;
  align-self: flex-end;
  top: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#portfolio h3 {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 26px;
  line-height: normal;
}

.works-modal {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  row-gap: 29px;
  column-gap: 9px;
  margin: 47px 70px 66px 70px;
}

.works-modal .work-miniature {
  width: 78px;
  height: 103px;
}

hr {
  border: solid 1px #b3b3b3;
  width: 420px;
}

.modal .addPhoto-btn {
  display: flex;
  align-items: center;
  align-self: center;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  border: solid 1px #1d6154;
  margin: 27px;
  width: 237px;
  padding: 10px 49px;
  border-radius: 60px;
  cursor: pointer;
}

.modal .del-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 2px;
  position: relative;
  top: -85%;
  left: 35%;
}

.modal .del-icon {
  filter: invert(1);
  width: 9px;
  height: 11px;
}

.retour-btn {
  background-color: white;
  border: unset;
  margin: 0;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}

.retour-btn img {
  width: 21px;
  height: 21px;
}

#modal-step2 form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 47px 70px 0 70px;
}

#modal-step2 form label:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 420px;
  height: 169px;
  flex-shrink: 0;
  border-radius: 3px;
  margin-bottom: 26px;
  background: #e8f1f6;
}

#modal-step2 label:first-child input {
  display: none;
}

#modal-step2 .upload-instructions {
  text-align: center;
}

#modal-step2 .uploadPhoto-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #cbd6dc;
  width: 173px;
  height: 36px;
  margin: 7px 0;
  border: none;
  color: #306685;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#modal-step2 span   {
  color: #444;
  font-size: 10px;
}

#modal-step2 .preview-img {
  height: inherit;
}

#modal-step2 input,
#modal-step2 select {
  padding: 2px 0 1px 0;
  border: solid 16px transparent;
  margin-bottom: 26px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  color: #444;
  font-family: Work Sans;
  font-size: 14px;  
}

.validatePhoto-btn {
  align-self: center;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  border: solid 1px #1d6154;
  margin: 27px;
  width: 237px;
  padding: 10px 49px;
  border-radius: 60px;
}

.validatePhoto-btn:disabled {
  background-color: #a7a7a7;
  border: solid 1px #a7a7a7;
}
